::selection
  background-color $primary
  color $white

h1, h2, h3, h4, h5, h6
  BoldUppercase()
  margin-bottom 2.5rem
  line-height 1
  letter-spacing .4px

html
  height 100%

body
  background-color $body-bg
  min-height 100%
  letter-spacing .6px

hr
  background-color $grey-300

h1
.h1
  font-size $size-240
  margin-top 0

h2
.h2
  font-size $size-240
  margin-top .4rem
  margin-bottom 1.9rem

h3
.h3
  font-size $size-180
  margin-top 1rem

a 
  &.animated-underline
    LinkUnderline($primary)

  &.underline
    Underline($secondary)

p
  color $tertiary
  font-size $size-150
  line-height 1.6

ul.no-list
  margin 0
  padding 0
  li
    list-style none

.sr-only
  position absolute !important
  width 1px !important
  height 1px !important
  padding 0 !important
  margin -1px !important
  overflow hidden !important
  clip rect(0,0,0,0) !important
  border 0 !important

.seller
.stock
  font-size 1.1rem
  color $grey
  display flex
  margin-bottom 0
  BoldUppercase()

.is-block
  display block !important

.is-bold
  font-family $family-primary-bold
  
.is-bold-and-uppercased
  BoldUppercase()

.loading-overlay 
  .loading-icon
    &:after
      border 2px solid $primary
      border-right-color transparent
      border-top-color transparent

.create-account-header
  margin-top .5rem
  @extend .h3

.default-container-padding
  padding-top 2rem
  padding-bottom 2rem
  
  @media only screen and (min-width: $desktop)
    padding-top 5rem
    padding-bottom 5rem
  
