table.table
  thead
    tr
      &:hover
      &:focus
        background-color transparent
      th
        vertical-align middle
        BoldUppercase()
        font-size $size-120
        padding-top 1rem
        padding-bottom 1rem
  tbody
    tr
      td
        vertical-align middle
        
  td
    padding-top 2.5rem
    padding-bottom 2.5rem
