.navbar
  .navbar-brand
    padding 2rem
    
    .navbar-burger
      &:hover
        background transparent

  .navbar-brand
  .navbar-menu
    a
      BoldUppercase()
      &.navbar-link
      &.navbar-item
        &.is-active
        &:hover
          color $secondary
          background-color transparent
