.notices
  &.is-toast
    opacity 1
  .toast
    border-radius 0
    width 100%
    margin 0
    justify-content center
    font-size $size-small
    BoldUppercase()

    &.is-success
      background $success